*.aux
*.fdb_latexmk
*.log
*.pdf
*.synctex.gz
*.toc
*.bbl
*.blg
master.sublime-project
master.sublime-workspace
pjgsm.bst
document.4ct
document.4tc
document.dvi
document.idv
document.lg
document.tmp
document.xref
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

