*.aux
*.fdb_latexmk
*.log
*.pdf
*.synctex.gz
*.toc
*.bbl
*.blg
master.sublime-project
master.sublime-workspace
pjgsm.bst
document.4ct
document.4tc
document.dvi
document.idv
document.lg
document.tmp
document.xref

